@import '@servicenow/sass-kit/host';
@import '@servicenow/sass-global/index';

:host {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  flex: 1;
  min-height: 0;
}

.map-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100% !important;
  width: 100% !important;
  /*border: 2px solid red;*/
}


.input-container {
  /*border: 1px solid blue;*/
  width: 100%;
  display: flex;
  flex-direction: row;
}

.address-input {
  /*border: 1px solid green; */
  width: 100%;
}

.map-container_OLD {
  display: flex;
  border: 2px solid;
  position: fixed !important;
  height: 100% !important;
  width: 100% !important;
}

/*
.map {
  width: 100%;
  height: 100%;
}
*/
/* workaround for close button in Info box not showing up */
.gm-ui-hover-effect {
  opacity: .6
}

.gm-ui-hover-effect:hover {
  opacity: 1
}

.gm-ui-hover-effect>span {
  background-color: #000
}

@media (forced-colors:active),
(prefers-contrast:more) {
  .gm-ui-hover-effect>span {
    background-color: ButtonText
  }
}

/* remove the down arrow on infow windows */
.gm-style-iw-tc {  display: none; }

.info-distance {
  _border: 1px solid red;
}

.error-box {
	min-height: 100%;
	display: grid;
  align-items: center;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
  font-family: var(--now-font-family);
  background: linear-gradient(to bottom left, $error 40%, $orange 100%);
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);

  .message {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      width: 100%;
    text-align: center;
    height: 40%;
  }

  h1 {
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 3px;
    padding-top: 5px;
    color: $white;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .alert {
    font-weight: 700;
    letter-spacing: 5px;
  }

  footer {
    padding: 1rem;
  }

}

/* Google Map Styling*/

.gm-style-iw-d {

  p {
    margin : 2px;
  }
}

#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}
.input-container {
  display: none;
}
.overlay-content {
  background-color: rgba( #0f4d92, 0.6);
  border: 1px solid  #0f4d92;
  color: white;
  width: fit-content;
  text-align: center;
  font-size: 12px;
  padding: 0.1rem
}